/* Define color variables */
:root {
    --color-white: #ffffff;
    --darker-white: #f9f9f9;
    --color-dark: #444;
    --color-darkest: #1d1d1d;
    --color-dark-hover: #666;
    --color-highlight: #997a4c;
}

/* Landing Section Styling */
.landing {
    background: url('../images/dark-smoke-bg.jpg') no-repeat center center/cover; /* Use your background image */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    color: var(--color-white); /* Use color variable */
    text-align: left; /* Align text to the left */
}

.landing .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align content to the left */
}

/* Subheading Styles */
.subheading {
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

/* Main Heading Styles */
.main-heading {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.main-heading .highlight {
    color: var(--color-highlight); /* Use highlight color variable */
}

/* Button Styling */
.btn-download {
    display: inline-block;
    background-color: var(--color-dark); /* Use dark color variable */
    color: var(--color-white); /* Use white color variable */
    padding: 1rem 4rem;
    border-radius: 5px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-download i {
    margin-left: 10px; /* Spacing between text and icon */
}

/* Hover effect for the button */
.btn-download:hover {
    background-color: var(--color-dark-hover); /* Use hover color variable */
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-heading {
        font-size: 1.8rem;
    }

    .subheading {
        font-size: 1rem;
    }

    .btn-download {
        font-size: 1rem;
    }

    /* Adjust padding for small screens */
    .landing {
        padding-left: 3%;
    }
}
